@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    margin-top: 30px;
    margin-left: 60px;
}

.land-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.wraper {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.shadow {
    width: 495px !important;
    height: 495px !important;
    display: flex;
    background-color: transparent !important;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    z-index: -1 !important;
    left: 5px;
}

.shadow--chlid {
    background-color: transparent !important;
}

.shape-pic {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: var(--gradient-color);
}

.cut-shape {
    width: 500px;
    height: 600px;
    position: relative;
    overflow: clip;
    border-radius: 0 0 1000px 1000px;
    -webkit-border-radius: 0 0 1000px 1000px;
    -moz-border-radius: 0 0 1000px 1000px;
    -ms-border-radius: 0 0 1000px 1000px;
    -o-border-radius: 0 0 1000px 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100px;

    img {
        position: absolute;
        left: 40px;
        height: 600px;

    }
}

.land-container .text {
    position: relative;
    font-size: 34px;
    z-index: 55;
    display: flex;
    right: 40px;
    bottom: 40px;
    font-weight: 100 !important;
    font-style: normal;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    margin: 0;
    height: fit-content !important;
}

.land-container .text h1 {
    font-weight: 100 !important;
    font-style: normal;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    margin: 0;
    height: fit-content !important;

    .a {
        /* color: var(--main-color); */
        font-size: 40px;
        margin-right: 15px;
    }
}

.texting {
    font-optical-sizing: auto;
    font-family: "arial", serif !important;
    font-size: 60px !important;
    width: fit-content !important;
    height: 55px !important;
    color: var(--sec-color);
    font-weight: 900 !important;
}

.scroll-down {
    display: none;
    position: absolute;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    bottom: 0;
    letter-spacing: 2px;
    font-family: "Roboto", serif !important;
    font-weight: 300;
    padding-right: 12px;
    left: 80px;
    height: 340px;
    font-size: 20px;
    justify-content: end;
    border: solid 1px;
    border-color: transparent var(--sec-color) transparent transparent;
}

@media (max-width: 1440px) {
    .home {
        margin-left: 20px;
    }

    .wraper {
        margin-left: 0;
        margin-top: 60px;
    }

    .shadow {
        width: 395px !important;
        height: 395px !important;
    }

    .shape-pic {
        width: 400px !important;
        height: 400px !important;
    }

    .cut-shape {
        width: 400px !important;
        height: 500px !important;

        img {
            position: absolute;
            left: 25px;
            height: 500px;
        }
    }

    .land-container .text {
        font-size: 24px;
    }

    .texting {
        font-size: 40px !important;
        width: fit-content !important;
        height: 35px !important;
    }
}

@media (max-width: 1024px) {
    .home {
        height: 800px !important;
        margin-left: 0px;
        margin-top: 0px;
    }

    .wraper {
        margin-left: 0;
        margin-top: 60px;
    }

    .shadow {
        width: 345px !important;
        height: 345px !important;
    }

    .shape-pic {
        width: 350px !important;
        height: 350px !important;
    }

    .cut-shape {
        width: 350px !important;
        height: 450px !important;

        img {
            position: absolute;
            left: 20px;
            height: 450px;
        }
    }

    .land-container .text {
        font-size: 24px;
    }

    .texting {
        font-size: 40px !important;
        width: fit-content !important;
        height: 35px !important;
    }
}

@media (max-width: 991px) {
    .home {
        height: fit-content !important;
    }

    .land-container {
        margin-top: 0px;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: flex-start;
        overflow-x: clip;
        position: relative;
    }

    .wraper {
        margin-left: auto;
        margin-top: 180px;
        margin-right: -50px;
    }

    .shadow {
        width: 595px !important;
        height: 595px !important;
    }

    .shape-pic {
        width: 600px !important;
        height: 600px !important;
    }

    .cut-shape {
        width: 600px !important;
        height: 700px !important;

        img {
            position: absolute;
            left: 45px;
            height: 700px;
        }
    }

    .land-container .text {
        font-size: 35px;
        left: 50px;
        top: 0px;
        width: 300px;
        position: absolute;

        h1 {
            margin-bottom: 100px;
        }
    }

    .texting {
        font-size: 70px !important;
        width: fit-content !important;
        height: 60px !important;
    }

    .scroll-down {
        display: flex;
        left: 130px;
        height: 480px;

    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .shadow {
        width: 545px !important;
        height: 545px !important;
    }

    .shape-pic {
        width: 550px !important;
        height: 550px !important;
    }

    .wraper {
        margin-right: -80px;
        margin-top: 220px;
    }

    .cut-shape {

        height: 700px !important;
        bottom: 150px;

        img {
            left: 45px;
            height: 700px;
        }
    }




    .land-container .text {
        font-size: 34px;
        left: 35px;
        width: 300px;
        position: absolute;
    }

    .texting {
        font-size: 70px !important;
        width: fit-content !important;
        height: 60px !important;
    }

    .scroll-down {
        font-size: 14px;
        display: flex;
        left: 100px;
        height: 480px;

    }
}

@media (max-width: 576px) {
    .home {
        height: fit-content !important;
        align-items: start;
        padding-bottom: 50px;
    }

    .land-container {
        margin-top: 0px;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: flex-start;
    }

    .wraper {
        margin-left: auto;
        margin-top: 110px;
        margin-right: -50px;
    }

    .shadow {
        width: 320px !important;
        height: 320px !important;
    }

    .shape-pic {
        width: 325px !important;
        height: 325px !important;
    }

    .cut-shape {
        width: 325px !important;
        height: 425px !important;

        img {
            position: absolute;
            left: 20px;
            height: 390px;
            top: 44px;
        }
    }


    .land-container .text {
        font-size: 20px;
        left: 20px;
        top: 0px;
        position: absolute;

        /* display: none; */
        .a {
            margin-right: 10px !important;
            font-size: 22px !important;
            font-weight: 900;
        }
    }

    .texting {
        font-size: 38px !important;
        height: 32px !important;
    }

    .scroll-down {
        font-size: 14px;
        padding-right: 0px;
        display: flex;
        left: 40px;
        height: 280px;
        bottom: -40px;
        z-index: 55;
    }
}

@media (max-width: 340px) {
    .land-container .text {
        font-size: 16px;
        width: 200px;
    }

    .texting {
        font-size: 34px !important;
        height: 30px !important;
        width: 100px !important;
    }

    .shadow {
        width: 300px !important;
        height: 300px !important;
    }

    .shape-pic {
        width: 305px !important;
        height: 305px !important;
    }

    .cut-shape {
        width: 305px !important;
        height: 405px !important;

        img {
            position: absolute;
            left: 20px;
            height: 370px;
            top: 44px;
        }
    }

    .scroll-down {
        left: 20px;
    }
}


.work {
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #113321;
    width: fit-content;
    padding: 2px 10px;

    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.work span {
    color: #16a34a;
    font-size: 16px;
    font-weight: 500 !important;

    margin: 0;

}