@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");



.portfolio {
    padding: var(--padding-w);

    @media (max-width: 991px) {
        padding: var(--padding-sm);
    }

    @media (max-width: 576px) {
        padding: var(--padding-s);
    }
}

.project-wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    margin-top: 60px;

    @media (max-width: 1200px) and (min-width:992px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    @media (max-width:992px) {
        gap: 30px;
    }

    @media (min-width:992px) {
        padding-right: 40px;

    }

    @media(max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
}








.drawer-content .os-scrollbar-handle {
    background: #ccc !important;
    z-index: 9999;
}

#drawer-content-inner {
    scrollbar-width: none !important;



    .os-scrollbar-track:hover .os-scrollbar-handle {
        background: #ccc !important;

    }
}

button[aria-haspopup="dialog"] {
    @media (max-width:992px) {}

    @media(max-width: 576px) {
        hr {
            width: calc(100% - 3.7rem);
        }
    }
}

.info img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    opacity: 0.5;

    @media(max-width: 576px) {
        height: 60px;
    }
}



button[aria-haspopup="dialog"]:hover .info img {
    opacity: 1;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

button[aria-haspopup="dialog"]:hover .button-container-3 {
    border-color: white;

}

.info .description {
    h5 {
        text-align: left;
    }

    p {
        color: var(--silver-color);
        font-size: 14px;
        margin: 0;
        text-align: left;

    }

    @media(max-width: 576px) {
        h5 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }
}

.project {
    gap: 60px;
}

.project div:nth-of-type(2)>button[aria-haspopup="dialog"] .text-box::before {
    display: none;

}

.project:first-of-type {

    @media (max-width: 1200px) and (min-width:992px) {
        button[aria-haspopup="dialog"]:last-of-type .text-box::before {
            display: flex;
        }
    }

    @media(max-width:768px) {
        button[aria-haspopup="dialog"]:last-of-type .text-box::before {
            display: flex;
        }
    }
}

.text-box {
    position: relative;
}

.text-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(128, 128, 128, 0.499);
    bottom: -30px;
    left: 0;
    z-index: 1;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.button-container-3 {
    position: relative;
    max-width: 80px;
    min-width: 80px;
    max-height: 35px;
    height: 35px;
    overflow: hidden;
    border: 1px solid var(--silver-color);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transition: 0.3s;
    letter-spacing: 1px;
    border-radius: 8px;
    background: var(--sec-color);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    @media(max-width: 576px) {
        max-width: 60px;
        min-width: 60px;
        max-height: 30px;
        letter-spacing: 0px !important;
        margin-left: 10px;
    }
}

.button-container-3:hover {
    border-color: var(--sec-color) !important;
}

.button-container-3 div {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    font-weight: bold;
    background-image: url('/assets/btn/bg-icon.webp');
    -webkit-mask: url("/assets/btn/natureSmaller.png");
    mask: url("/assets/btn/natureSmaller.png");
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    border: none;
    color: var(--silver-color);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;

    @media(max-width: 576px) {

        letter-spacing: 1px !important;
    }
}

.button-container-3 div:hover {
    -webkit-animation: ani 0.7s steps(70) forwards;
    animation: ani 0.7s steps(70) forwards;

}

.mas {
    position: absolute;
    color: white;
    height: 100%;
    text-align: center;
    width: 101%;
    letter-spacing: 3px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 11px;
    margin-top: 10px;
    overflow: hidden;
    font-weight: bold;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);

    @media(max-width: 576px) {
        margin-top: 8px;

    }
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}





.slider-items img {
    border-radius: .75rem;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    -ms-border-radius: .75rem;
    -o-border-radius: .75rem;
    max-width: 100% !important;
}

.next-button {
    margin-right: 100px;
}

.prev-button {
    margin-left: 100px;
}

.disabled\:opacity-50:disabled {
    opacity: 0 !important;
}



@media (max-width:1336px) {}

@media (max-width:768px) {

    .next-button,
    .prev-button {
        display: none;
    }
}